backups/
databases/
logs/
resource-cache/
*.db
*.dll
*.keys
*.zip
editor.conf
vehiclecolors.conf
editor_acl.xml
settings.xml
local.conf

resources/\[gamemodes]\/*
resources/\[gameplay]\/*

resources/\[admin]\/*

resources/\[LasVenturasPlayground\]/customblips/
resources/\[LasVenturasPlayground\]/dance_tap/
resources/\[LasVenturasPlayground\]/jay_graffiti/
resources/\[LasVenturasPlayground\]/misc/
resources/\[LasVenturasPlayground\]/show_pos/
resources/\[LasVenturasPlayground\]/colshapeeditor/
resources/\[LasVenturasPlayground\]/cinema/

resources/\[editor\]/
resources/editor_dump/
resources/editor_test/