backups/
databases/
logs/
resource-cache/
*.db
*.dll
*.keys
*.zip
editor.conf
vehiclecolors.conf
editor_acl.xml
settings.xml
local.conf
resources/[LasVenturasPlayground]/colshapeeditor/
resources/customblips/
resources/dance_tap/
resources/jay_graffiti/
resources/misc/
resources/show_pos/